.places {
    display: flex;
    padding: 92px 0 92px;
    max-width: 984px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - (48px*2));
    }   
}

@media screen and (max-width: 840px) {
    .places {
        max-width: calc(100% - (24px*2));
    }   
}

@media screen and (max-width: 768px) {
    .places {
        padding: 88px 0 90px;
        max-width: calc(100% - (24px*2));
        row-gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
        row-gap: 50px;
        padding: 64px 0 66px;
    }
}