.place__text {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    font-size: 0;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .place__text {
        row-gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__text {
        max-width: calc(100% - (16px*2));
        padding-left: 16px;
    }
}