.place {
    display: grid;
    width: 100%;
    grid-template-columns: fit-content(440px) fit-content(456px);
    grid-template-rows: auto;
    row-gap: 48px;
    column-gap: 32px;
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: minmax(460px, 1fr) minmax(484px, 1.5fr);
        column-gap: 40px;
    }
}

@media screen and (max-width: 980px) {
    .place {
        grid-template-columns: fit-content(340px) fit-content(420px);
        column-gap: 28px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: fit-content(340px) fit-content(352px);
    }
}

@media screen and (max-width: 720px) {
    .place {
        width: 90%;
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (max-width: 520px) {
    .place {
        grid-template-columns: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 100%;
        column-gap: 0;
        row-gap: 32px;
    }
}